.particles-container {
  position: fixed;
  inset: 0;

  pointer-events: none;

  z-index: -1;
}

.particle {
  position: absolute;

  width: 2px;
  height: 2px;

  background: white;
  border-radius: 50%;

  opacity: 0.5;

  animation: floatParticle 10s linear infinite;
}

@keyframes floatParticle {
  0% {
    transform: translateY(0px);
    opacity: 0.2;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(-120px);
    opacity: 0;
  }
}