.contact {
  min-height: 100vh;

  padding: 120px 8%;

  display: flex;
  align-items: center;
}

.contact-container {
  width: 100%;

  display: flex;

  justify-content: space-between;

  align-items: center;
  margin-left: -4rem;
  gap: 5rem;
}

.contact-left h2 {
  font-size: 3rem;

  color: #F3E8FF;

  line-height: 1.2;

  margin-bottom: 1rem;
}

.contact-left p {
  max-width: 500px;

  color: #D6C7F5;

  font-size: 1.1rem;

  line-height: 1.8;

  margin-bottom: 2rem;
}

.contact-right {
  flex: 0.8;

}

.contact-links {
  display: flex;

  gap: 1rem;

  flex-wrap: wrap;
}

.contact-links a {
  text-decoration: none;

  color: #F3E8FF;

  padding: 0.8rem 1.2rem;

  border-radius: 12px;

  background: rgba(27, 18, 48, 0.55);

  border: 1px solid rgba(157, 0, 255, 0.3);

  transition: all 0.3s ease;
}

.contact-links a:hover {
  transform: translateY(-4px);

  border-color: #FF2ED1;

  box-shadow:
    0 0 15px rgba(255, 46, 209, 0.3);
}

.contact-form {
  width: 420px;

  height:420px;

  padding: 2rem;

  border-radius: 5px;

  background: rgba(27, 18, 48, 0.55);

  border: 1px solid rgba(157, 0, 255, 0.3);

  backdrop-filter: blur(12px);

  display: flex;

  flex-direction: column;

  gap: 1.5rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;

  padding: 1rem;

  border-radius: 12px;

  border: 1px solid rgba(157, 0, 255, 0.25);

  background: rgba(255,255,255,0.05);

  color: #F3E8FF;

  outline: none;

  font-size: 1rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #A89BC8;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #FF2ED1;

  box-shadow:
    0 0 15px rgba(255, 46, 209, 0.25);
}

.contact-form button {
  padding: 1rem;

  border: none;

  border-radius: 12px;

  background: linear-gradient(
    90deg,
    #9D00FF,
    #FF2ED1
  );

  color: white;

  font-weight: 600;

  cursor: pointer;

  transition: all 0.3s ease;
}

.contact-form button:hover {
  transform: translateY(-3px);

  box-shadow:
    0 0 20px rgba(255, 46, 209, 0.4);
}

/* .contact-email {
  display: flex;

  align-items: center;

  gap: 0.5rem;

  margin-top: 1.5rem;

  padding: 0.2rem 0.2rem;

  width: fit-content;

  border-radius: 14px;

  background: rgba(27, 18, 48, 0.55);

  border: 1px solid rgba(157, 0, 255, 0.3);

  transition: all 0.3s ease;
}

.contact-email:hover {
  transform: translateY(-4px);

  border-color: #FF2ED1;

  box-shadow:
    0 0 15px rgba(255, 46, 209, 0.3);
} */



 .contact-email {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: -3.5rem;
  
}



.contact-email p {
  color: #D6C7F5;

  font-size: 0.95rem;

  font-family: "Poppins", sans-serif;
  margin-top: 2rem;
}

.success-message {
  padding: 0.8rem 1rem;

  border-radius: 12px;

  background: rgba(34, 197, 94, 0.15);

  border: 1px solid rgba(34, 197, 94, 0.4);

  color: #86EFAC;

  text-align: center;

  font-weight: 500;
}
@media (max-width: 768px) {

 .contact {
  padding-top: 120px;
}

  .contact-container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 3rem;

  }

.contact-left {
  flex: none;

  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;

  text-align: center;
}

.contact-right {
  width: 100%;

  display: flex;

  flex-direction: column;

  justify-content: center;

  margin-left:9rem;

  align-items: center;
}

  .contact-left h2 {
    font-size: 2.2rem;
    margin-left:7rem;
    display:flex;  
  }

  .contact-left p {
    max-width: 100%;
     margin-left:7rem;
     display:flex;
    
  }

.contact-email,
.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:7rem;
}
.contact-email{
  margin-left:8rem;
}
.contact-email p{
  margin-left:0rem;
}

.your-logo-class {
    left: 50%;
    transform: translateX(-50%);
  }

  .contact-form {
    width: 100%;

    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    padding: 1.5rem;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }

  .contact-form button {
    width: 100%;
  }
}