.projects {
  min-height: 100vh;

  padding: 120px 8%;
}

.projects-title {
  text-align: center;

  font-size: 3rem;

  color: #a53db3;

  margin-bottom: 4rem;
}

.projects-container {
  display: flex;

  justify-content: center;

  gap: 2rem;

  flex-wrap: wrap;
}

.project-card {
  width: 320px;

  display:flex;
    flex-direction: column;
    justify-content: center;
    

  min-height: 350px;

  padding: 2rem;

  border-radius: 20px;

  background: rgba(27, 18, 48, 0.55);

  border: 1px solid rgba(157, 0, 255, 0.3);

  backdrop-filter: blur(10px);

  transition: all 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);

  box-shadow:
    0 0 25px rgba(157, 0, 255, 0.35);
}

.project-card h3 {
  color: #FF2ED1;

  margin-bottom: 1rem;
}

.project-card p {
  color: #D6C7F5;

  line-height: 1.7;

  margin-bottom: 1.5rem;
}

.tech-stack {
  display: flex;

  flex-wrap: wrap;

  gap: 0.6rem;
}

.tech-stack span {
  padding: 0.5rem 0.8rem;

  border-radius: 20px;

  background: rgba(157, 0, 255, 0.15);

  color: #F3E8FF;

  font-size: 0.85rem;
}